<h1>
  Profile for Coach: <%= "#{@coach.full_name}" %>
</h1>

<h2>email: <%= @coach.email %></h2>

<h2>
  Reviews
</h2>
<%= render @coach.reviews %>

<h2>Add a review:</h2>
<%= render 'reviews/form' %>


<p>
  <%= link_to "Update profile for #{@coach.full_name}", edit_coach_path(@coach) %>
</p>
<p>
  <%= link_to "Add a review for #{@coach.full_name}" %>
</p>
<p>
  <%= link_to "Back to coach list", coaches_path %>
</p>